<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
</head>
<body>

    <form method="POST" action="{% url 'editEmployee'  %}">
        {% csrf_token %}
        <h1 style="text-align:center">Edit employee info</h1>

        <div style="margin:10px auto; width: 50%; text-align:center">
            <label>Id</label>
            <input value="{{ employee.id }}" name="id" readonly />
           </div>
        <div style="margin:10px auto; width: 50% ;text-align:center">
            <label>Name</label>
            <input type="text" name="name" value="{{ employee.name}}" placeholder="Insert employee name"/>
        </div>
        <div style="margin:10px auto; width: 50%;  text-align:center">
            <label>Email</label>
            <input type="email" name="email" value="{{ employee.email}}" placeholder="Insert employee email"/>
        </div>
        <div style="margin:10px auto; width: 50%;  text-align:center">
            <label>Job title</label>
            <input type="text" name="job" value="{{ employee.job }}" placeholder="Insert employee job title"/>
        </div>
        <div style="margin:10px auto; width: 50%;  text-align:center">
            <label>Salary</label>
            <input type="number" name="salary" value="{{ employee.salary}}" placeholder="Insert employee salary"/>
        </div>
        <div style="margin:10px auto; width: 50%;  text-align:center">
            <input type="submit" value="edit employee info" style="background-color: blue; color: white;" />
        </div>
    </form>
</body>
</html>