<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
</head>
<body>

    <form method="POST" action="{% url 'createEmployee'  %}">
        {% csrf_token %}
        <h1>Create employee</h1>
        <div style="margin:10px auto; width: 50%">
            <label>Name</label>
            <input type="text" name="name" placeholder="Insert employee name"/>
        </div>
        <div style="margin:10px auto; width: 50%">
            <label>Email</label>
            <input type="email" name="email" placeholder="Insert employee email"/>
        </div>
        <div style="margin:10px auto; width: 50%">
            <label>Job title</label>
            <input type="text" name="job" placeholder="Insert employee job title"/>
        </div>
        <div style="margin:10px auto; width: 50%">
            <label>Salary</label>
            <input type="number" name="salary" placeholder="Insert employee salary"/>
        </div>
        <div style="margin:10px auto; width: 50%">
            <input type="submit" value="create employee" style="background-color: blue; color: white;" />
        </div>
    </form>
</body>
</html>