<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
</head>
<body>
    <div style="margin:10px auto; width:90%">
        <h3 style="text-align:center">Employees management system</h3>
    </div>
    <table style="width:100%; text-align:center; border:1px solid black">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Job</th>
            <th>Salary</th>
        </tr>
     {% for employee in employees %}
     <tr>
        <th>{{ employee.name }}</th>
        <th>{{ employee.email }}</th>
        <th>{{ employee.job }}</th>
        <th>{{ employee.salary }}</th>
        <th><a class="edit-button" href="{% url 'editEmployeeForm' employee.id %}">Edit</a></th>
        <th><a class="delete-button" href="{% url 'deleteEmployee' employee.id %}">Delete</a></th>
     </tr>
     {% endfor %}
    </table>
</body>
</html>